.sp-main {
  display: flex;
}

.startup-heading {
  margin-left: 110px;
}
.startup-what {
  margin-bottom: 0.5rem;
}

.logo-sp,
.nir-sp {
  position: absolute;
}

.logo-sp {
  width: 383px;
  height: 83px;
  margin-left: -800px;
  margin-top: 6rem;
}

.nir-sp {
  width: 245.81px;
  height: 248px;
  margin-left: -390px;
  margin-top: 2rem;
}

.startup-logo {
  margin-top: 2rem;
  position: relative;
}

.sp-content {
  margin-left: 110px;
  margin-bottom: 7rem;
  width: 672px;
  height: 238px;
  font-family: "GT America";
  font-size: 28px;
  font-weight: 300;
  line-height: 34px;
  margin-top: 3rem;
  padding-right: 2rem;
  box-sizing: border-box;
}

/* right div  */
.sp-right {
  margin-left: -3rem;
  position: relative;
}
.sp-grey {
  width: 900px;
  height: 1065px;
  border-radius: 80px;
  background-color: rgba(217, 217, 217, 1);
}

.sp-white {
  position: absolute;
  width: 800px;
  margin-left: 3rem;
  margin-top: 2.5rem;
  height: 983px;
  border-radius: 80px;
  background-color: white;
}

.sp-sub-img {
  width: 800px;
  height: 230px;
  box-sizing: border-box;
  padding-left: 4rem;
  padding-top: 2.5rem;
  margin-top: 1rem;
}

/* second section css  */

.second-green-section {
  height: 872px;
  background: linear-gradient(
    90deg,
    #2e9635 -0.29%,
    #66bb6a 11.2%,
    #66bb6a 51.32%,
    #66bb6a 89.3%,
    #2e9635 100%
  );
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.sub-sp-green {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
}

.sp-cards {
  margin: 3rem 5rem 0 3rem;
}

/* last div  */
.last-div-sp {
  display: flex;
  justify-content: space-between;
  height: 522px;
  background-color: rgba(157, 157, 157, 1);
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.sp-white .sp-sub-img:nth-child(even) {
  background-color: rgba(217, 217, 217, 0.25);
}
