body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(143, 255, 149, 0),
      rgba(102, 187, 106, 0) 50%,
      rgba(102, 187, 106, 1)
    ),
    url("/home/shradhabiradar/Desktop/nirmaan-frontend/src/images/HOME-BACKGROUND.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nirmaan-logo {
  display: flex;
  margin-top: 2.313rem;
  width: 100%;
}

.this-is {
  text-align: right;
  font-size: 5rem;
  font-weight: 900;
  line-height: 8rem;
  margin-left: 15rem;
}

.logo{
  margin-left: 7.5rem;
}

.text {
  color: #ffffff;
  font-family: "GT America";
}

.subtitle {
  margin-top: 4.5rem;
  margin-left: 6rem;
}

.subtitle h2 {
  font-size: 2.3rem;
}
.subtitle p{
  font-size: 1.5rem;
}

.iitmlogo {
  display: flex;
  justify-content: center;
  margin-left: 7rem;
  margin-top: 1.5rem;
}
