html,
body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

.full-page-container {
  top: 0;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(143, 255, 149, 0),
      rgba(102, 187, 106, 0) 40%,
      rgba(102, 187, 106, 1)
    ),
    url("../images//HOME-BACKGROUND.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.horizontal-scroll-container {
  display: flex;
  white-space: nowrap;
  position: relative;
}

.homeFirstPage {
  width: 100vw;
  height: 100vh;
  /* first-page-div */
  position: relative;
}

.vertical {
  position: absolute;
  height: 3.5rem;
  width: 100vh;
  text-align: center;
  background-color: #d9d9d9;
  right: 0;
  top: 0;
  transform-origin: top right;
  transform: rotate(-90deg) translateY(-100%);
  font-size: 3rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  font-weight: bold;
}

.nirmaan-logo {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 2.313rem;
  width: 95%;
}

.this-is-img img {
  text-align: right;
  margin-left: 7rem;
  margin-top: 5rem;
}

.subtitle-styling-fp {
  white-space: pre-line;
}

.sub-heading-first {
  font-family: "GT America", sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 44px;
}

.subtitle-content {
  margin-top: 3rem;
  box-sizing: border-box;
  font-family: "GT America", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  white-space: pre-line;
}

.logo img {
  margin-left: 7rem;
}

.text {
  color: #ffffff;
  font-family: "GT America";
}

.subtitle {
  width: 20%;
  margin-top: 5rem;
  margin-left: 9rem;
}

.iitmlogo {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
/* 
@media only screen and (max-width: 1300px) {
  .this-is-img img {
    width: 25rem;
  }
  .logo img {
    width: 22rem;
  }
  .subtitle {
    width: 20%;
    margin-left: 6.5rem;
  }
  .sub-heading-first {
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
  }
  .subtitle-content {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    white-space: pre-line;
  }
  .iitmlogo {
    margin-left: 6rem;
  }
} */

/* social medial icons */
.social-icons {
  list-style-type: none;
  display: flex;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.social-icons-first {
  margin-top: 4rem;
  margin-left: 7rem;
}

.social-icons li {
  margin-right: 3.2rem;
}

/* footer part  */
.rect {
  margin-top: 3rem;
  position: relative;
}

.vect {
  position: relative;
  top: 4rem;
  left: 85rem;
}

.rect img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.inner-div-fp {
  position: absolute;
  bottom: 1.5rem;
  width: 68%;
  height: 120px;
  background: linear-gradient(270deg, #000000 3%, rgba(0, 0, 0, 0.5) 100%);
}

.inner-list-div {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 1rem;
  font-family: "GT America", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
  padding-left: 1rem;
}

.inner-list-div div {
  width: 23rem;
  margin-right: 1rem;
  white-space: pre-line;
}

#last-list {
  width: 10rem;
  font-family: "GT America", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  padding-right: 1rem;
}

.apply {
  position: absolute;
  box-sizing: border-box;
  padding: 1.5rem;
  top: 17rem;
  left: 81rem;
  text-align: center;
  background-color: #fff;
  width: 23rem;
  height: 5rem;
  font-size: 1.3rem;
  font-style: italic;
  color: #66bb6a;
  border-bottom-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;
}

.first-page-footer {
  position: absolute;
  bottom: 0;
}

.apply:hover {
  cursor: pointer;
  transform: scale(1.03);
}

@media only screen and (min-width: 1300px) and (max-width: 1600px) {
  /* .iitmlogo {
    margin-left: 140rem;
  } */
}

@media only screen and (max-width: 1730px) {
  .this-is-img img {
    width: 25rem;
  }
  .logo img {
    width: 22rem;
  }
  .subtitle {
    width: 20%;
    margin-left: 6.5rem;
  }
  .sub-heading-first {
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
  }
  .subtitle-content {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    white-space: pre-line;
  }

  .iitmlogo img {
    width: 20rem;
  }
  .rect img {
    width: 80rem;
    height: 10rem;
  }

  .apply {
    left: 70rem;
  }
  .vect {
    left: 75rem;
  }
}
