html,
body {
  top: 0;
  margin: 0;
  height: 100%;
}

.HomeThirdPage {
  background-color: #66bb6a;
  overflow-y: scroll;
  height: 100%;
  flex: 0 0 auto;
}

.thirdPage-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: relative;
}

.what-we-offer {
  padding-left: 7rem;
  padding-top: 2.5rem;
  line-height: 130px;
  font-size: 150px;
  width: 1390px;
  height: 337px;
  background-color: white;
  margin-top: 3rem;
  font-weight: 900;
  border-top-right-radius: 191.5px;
  font-family: sans-serif;
  font-stretch: expanded;
  box-sizing: border-box;
}

.vect3,
.nirmaanLogo {
  position: absolute;
}

.sub-header {
  display: flex;
}

.nirmaanLogo img {
  height: 292px;
  width: 287px;
  margin-top: 19px;
  margin-left: 8.3rem;
}
.logo-nirmaan {
  margin-left: 89rem;
  position: absolute;
}

.vect3 img {
  width: 420px;
  height: 600px;
}
.apply-subtitle {
  display: flex;
}

.apply-to {
  position: absolute;
  margin-left: 13rem;
  padding-left: 3.5rem;
  padding-top: 1.5rem;
  border-bottom-left-radius: 40.5px;
  border-top-right-radius: 40.5px;
  box-sizing: border-box;
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  width: 437px;
  height: 92px;
  color: #66bb6a;
  background-color: black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  transition: transform 0.4s ease-in-out;
}

.apply-to:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.subtitle-to {
  position: absolute;
  background-image: linear-gradient(to right, #d9d9d9, #b6b6b6);
  padding-top: 0.5rem;
  width: 67%;
  font-weight: 500;
  font-size: 50px;
  height: 92px;
  text-align: center;
  margin-left: 38rem;
  box-sizing: border-box;
}

.grey-div {
  width: 1500px;
  height: 1879px;
  background-color: #d9d9d9;
  margin-top: 200px;
  margin-left: 180px;
  border-radius: 3rem;
}

.white-div {
  position: absolute;
  width: 1350px;
  height: 2000px;
  margin-top: -60px;
  margin-left: 70px;
  background-color: #ffffff;
  border-radius: 3rem;
}

.white-inner-div-common-style {
  height: 230px;
  box-sizing: border-box;
  white-space: pre-line;
}

.white-inner-div {
  padding-left: 15rem;
  margin-top: 5rem;
}

.third-more-about-us {
  width: 437px;
  height: 92px;
  border-radius: 0px 40.5px 0px 40.5px;
  background-color: black;
  position: absolute;
  margin-top: 118rem;
  margin-left: 35rem;
  box-shadow: 8px 8px 6px 0px #00000033;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  line-height: 28px;
  color: white;
  box-sizing: border-box;
  padding-top: 2rem;
  text-align: center;
}

.third-nirman-in-numbers {
  position: absolute;
  width: 960px;
  height: 80px;
  border-radius: 60px 60px 0 0;
  background-color: white;
  transform: rotate(-90deg);
  margin-left: 100rem;
  margin-top: 126.4rem;
  transform-origin: 0 0;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  color: black;
}

.footer-third {
  height: 150px;
}
