html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.full-page-container {
  top: 0;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(143, 255, 149, 0),
      rgba(102, 187, 106, 0) 50%,
      rgba(102, 187, 106, 1)
    ),
    url("../images//HOME-BACKGROUND.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.horizontal-scroll-container {
  display: flex;
  white-space: nowrap;
}

.homeFirstPage {
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  flex: 0 0 auto;
}

.vertical {
  position: absolute;
  height: 3.5rem;
  width: 100vh;
  text-align: center;
  background-color: #d9d9d9;
  right: 0;
  top: 0;
  transform-origin: top right;
  transform: rotate(-90deg) translateY(-100%);
  font-size: 3rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  font-weight: bold;
}

.nirmaan-logo {
  display: flex;
  margin-top: 2.313rem;
  width: 100%;
}

.this-is-img {
  text-align: right;
  width: 553px;
  margin-top: 135px;
  margin-left: 76px;
}

.sub-heading-first {
  font-family: "GT America", sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 44px;
}

.subtitle-content {
  margin-top: 3rem;
  box-sizing: border-box;
  font-family: "GT America", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  white-space: pre-line;
}

.logo {
  margin-left: 7.5rem;
}

.text {
  color: #ffffff;
  font-family: "GT America";
}

.subtitle {
  width: 311px;
  margin-top: 7rem;
  margin-left: 6rem;
}

.iitmlogo {
  display: flex;
  justify-content: center;
  margin-left: 8rem;
  margin-top: 1.5rem;
}

/* social medial icons */
.social-icons {
  list-style-type: none;
  display: flex;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.social-icons-first {
  margin-top: 6rem;
  margin-left: 7rem;
}

.social-icons li {
  margin-right: 3.2rem;
}

/* footer part  */
.rect {
  margin-top: 3rem;
  position: relative;
}

.vect {
  position: absolute;
  margin-top: -9.5rem;
  margin-left: 85rem;
}

footer {
  position: relative;
}

.rect {
  position: absolute;
}

.inner-div {
  position: absolute;
  margin-top: 4rem;
  width: 68%;
  height: 120px;
  background-image: linear-gradient(
    to right,
    rgba(143, 255, 149, 0),
    rgba(0, 0, 0, 0) 0.5%,
    rgb(0, 0, 0)
  );
}

.inner-list-div {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 2rem;
  font-family: "GT America", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
  padding-left: 1rem;
}

#last-list {
  margin-top: -1rem;
  font-family: "GT America", sans-serif;
  font-size: 23px;
  font-style: italic;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0;
  text-align: right;
  padding-right: 1rem;
}

.apply {
  position: absolute;
  box-sizing: border-box;
  padding: 1.5rem;
  margin-top: 5.5rem;
  margin-left: 81rem;
  text-align: center;
  background-color: #fff;
  width: 23rem;
  height: 5rem;
  font-size: 1.3rem;
  font-style: italic;
  color: #66bb6a;
  border-bottom-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;
}

.apply:hover {
  cursor: pointer;
  transform: scale(1.03);
}
