.highlights{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlights__title,
.highlights__description {
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
  margin: 0;
}

.highlights__description {
  display: inline-block;
  padding: 26px 57px;
  background-color: #ececec;
  border-radius: 29px;
  line-height: 1;
}


@media (max-width:1440px){
  .highlights__title,
  .highlights__description {
    font-size: 35px;
    padding: 18px 50px;
  }
  .highlights__title{
    margin-bottom: 16px;
  }
}


@media (max-width:1200px){
  .highlights__title{
    padding: 1rem;
    font-size: 28px;
  }
  .highlights__description{
    font-size: 28px;
  }
}

@media (max-width:576px){
  .highlights__title,
  .highlights__description{
    font-size: 35px;
  }
}