html,
body {
  top: 0;
  margin: 0;
  /* height: 100%; */
}

.HomeThirdPage {
  background-color: #66bb6a;
  overflow-y: scroll;
  height: 100%;
  flex: 0 0 auto;
  /* position: relative; */
}

.thirdPage-container {
  width: 100vw;
  /* height: auto; */
  height: 200vw;
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: relative;
  background-color: #8fff95;
  background-image: url("../images/Vector3.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 355px 442px;
}



.what-we-offer {
  padding-left: 7rem;
  padding-top: 2.5rem;
  line-height: 130px;
  font-size: 150px;
  max-width: 1390px;
  width: 100%;
  height: 337px;
  background-color: white;
  margin-top: 3rem;
  font-weight: 900;
  border-top-right-radius: 191.5px;
  font-family: sans-serif;
  font-stretch: expanded;
  box-sizing: border-box;
}

.vect3,
.nirmaanLogo {
  position: absolute;
}

.sub-header {
  display: flex;
}

.nirmaanLogo img {
  height: 292px;
  width: 287px;
  margin-top: 19px;
  margin-left: 8.3rem;
}
.logo-nirmaan {
  margin-left: 89rem;
  position: absolute;
}

.vect3 img {
  width: 420px;
  height: 600px;
}
.apply-subtitle {
  display: flex;
}

.apply-to {
  position: absolute;
  margin-left: 13rem;
  padding-left: 3.5rem;
  padding-top: 1.5rem;
  border-bottom-left-radius: 40.5px;
  border-top-right-radius: 40.5px;
  box-sizing: border-box;
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  width: 437px;
  height: 92px;
  color: #66bb6a;
  background-color: black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  transition: transform 0.4s ease-in-out;
}

.offer-btn__scale{
  transition: transform 0.4s ease-in-out;
}

.apply-to:hover,
.offer-list__more-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.subtitle-to {
  position: absolute;
  background-image: linear-gradient(to right, #d9d9d9, #b6b6b6);
  padding-top: 0.5rem;
  width: 67%;
  font-weight: 500;
  font-size: 50px;
  height: 92px;
  text-align: center;
  margin-left: 38rem;
  box-sizing: border-box;
}

.grey-div {
  width: 1500px;
  height: 1879px;
  background-color: #d9d9d9;
  margin-top: 200px;
  margin-left: 180px;
  border-radius: 3rem;
}

.white-div {
  position: absolute;
  width: 1350px;
  height: 2000px;
  margin-top: -60px;
  margin-left: 70px;
  background-color: #ffffff;
  border-radius: 3rem;
}

.white-inner-div-common-style {
  box-sizing: border-box;
  white-space: pre-line;
  padding: 2rem 125px;
}

.white-inner-div-common-style:nth-child(even){
  background-color: #f5f5f5;
}
.white-inner-div-common-style:last-child{
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.white-inner-div {
  padding-left: 15rem;
  margin-top: 5rem;
}

.third-more-about-us {
  width: 437px;
  height: 92px;
  border-radius: 0px 40.5px 0px 40.5px;
  background-color: black;
  position: absolute;
  margin-top: 118rem;
  margin-left: 35rem;
  box-shadow: 8px 8px 6px 0px #00000033;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  line-height: 28px;
  color: white;
  box-sizing: border-box;
  padding-top: 2rem;
  text-align: center;
}

.third-nirman-in-numbers {
  position: absolute;
  width: 960px;
  height: 80px;
  border-radius: 60px 60px 0 0;
  background-color: white;
  transform: rotate(-90deg);
  margin-left: 100rem;
  margin-top: 126.4rem;
  transform-origin: 0 0;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  color: black;
}

.footer-third {
  height: 150px;
}

/* REfactoring by Eugene */
.thirdPage-container__header {
  margin-bottom: 50px;
}
.main-page__heading {
  background-color: #fff;
  border-top-right-radius: 191.5px;
  max-width: 988px;
  padding: 2vw 9vw 2vw 6vw;
}
.main-page__heading h1 {
  font-size: 105px;
  font-weight: 900;
  font-size: 105px;
  font-weight: 900;
  line-height: 0.85;
}
.main-page__sub-wrapper {
  position: relative;
  background-color: #d4d4d4;
  display: flex;
  max-width: 1245px;
  margin-left: auto;
  border-bottom-left-radius: 40.5px;
  gap: 120px;
  align-items: center;
}

.main-page__apply-to {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 25px;
  font-style: italic;
  padding: 20px 35px;
  border-bottom-left-radius: 40.5px;
  border-top-right-radius: 40.5px;
  font-weight: 700;
  transition: transform 0.3s ease;

}

.main-page__apply-to:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.main-page__subtitle {
  font-size: 35px;
  margin: 0;
  font-weight: 500;
}

.main-page__logo {
  max-width: 204px;
  max-height: 208px;
  position: absolute;
  right: 85px;
  bottom: 50%;
}
.main-page__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.offer-list-container {
  max-width: 1103px;
  margin: 0 auto;
}

.offer-list {
  position: relative;
  max-width: 990px;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px 0;
  border-radius:3rem;
  margin-bottom: 5rem;
}

.offer-list::before,
.offer-list::after
{
  content: "";
  position: absolute;
  top: 3%;
  bottom: 5%;
  width: 55px;
  background-color: #d9d9d9;
  
}

.offer-list::before{
  right: 100%;
  border-radius: 3rem 0 0 3rem;
}
.offer-list::after{
  left: 100%;
  border-radius: 0 3rem 3rem 0;
}

.offer-btn__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 3rem; */
  padding: 1rem;
}
.offer-list__more-btn {
  border-radius: 0px 40.5px 0px 40.5px;
  background-color: black;
  /* position: absolute; */
  top: 100%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  box-shadow: 8px 8px 6px 0px #00000033;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  line-height: 28px;
  color: white;
  box-sizing: border-box;
  padding: 2rem;
  text-align: center;
  transition: transform 0.4s ease-in-out;

}
.mobile-about{
  display: none;
}

@media (max-width:1200px){
  .main-page__heading h1{
    font-size: 80px;
  }
  .main-page__heading{
    max-width: 700px;
  }
  .main-page__logo{
    max-width:150px;
    max-height: 150px;
  }
  .main-page__subtitle{
    font-size: 30px;
  }
  .main-page__apply-to{
    font-size: 22px;
  }

  .white-inner-div-common-style{
    padding: 1rem 3rem;
  }
  .offer-list{
    max-width: 800px;
  }

}

@media (max-width:998px){
  .thirdPage-container{
    height: 100%;
    padding-bottom: 3rem;
  }
  .thirdPage-container__header{
    padding-top: 3rem;
  }
  .main-page__sub-wrapper{
    flex-direction: column;
    background-color: transparent;
    gap: 0;
    align-items: flex-end;
    margin-bottom: 100px;
  }
  .main-page__apply-to{
    order: 1;
  }
  .main-page__subtitle{
    background-color: #d4d4d4;
  }
  .main-page__logo {
    max-width: 112px;
    max-height: 112px;
    bottom: auto;
    top: 26%;
    left: 2rem;
}
}

@media (max-width:768px){
  .offer-list-container{
    padding: 0 30px;
  }
  .offer-list::before,
  .offer-list::after
  {
    width: 15px;
  }
  .offer-list{
    padding: 30px 0;
  }
  .white-inner-div-common-style{
    padding: 1rem 2rem;
  }

}

@media (max-width: 567px){
  .main-page__heading h1 {
    font-size: 45px;
  }
  .main-page__subtitle{
    font-size: 18px;
  }
  .main-page__apply-to{
    max-width: 151px;
    margin-right: 0.5rem;
    padding: 14px 9px;
    line-height: 1;
  }
  .main-page__heading{
    max-width: 440px;
  }
  .offer-list__more-btn{
    font-size: 22px;
    padding: 1rem 2rem;
    margin: 0 auto;
    margin-top: 2rem;
    width: 200px;
    top: calc(100% + 2rem);
  }
  .offer-list__more-btn{
    display: none;
  }
  .mobile-about{
    display: block;
  }
}