.first-img {
  width: 429px;
  height: 482px;
}

.green-stripe {
  width: 429px;
  height: 14px;
  background-color: rgba(102, 187, 106, 1);
  position: absolute;
  margin-top: -6rem;
}

.black-stripe {
  display: flex;
  position: absolute;
  width: 429px;
  height: 90px;
  background-color: rgba(0, 1, 0, 0.8);
  margin-top: -5.9rem;
  color: white;
  padding-top: 2rem;
  box-sizing: border-box;
}

.name {
  font-family: "GT America";
  font-size: 32px;
  font-weight: 500;
  line-height: 28px;
  padding-left: 2rem;
  padding-right: 5rem;
}

.tagline {
  font-family: "GT America";
  font-size: 18px;
  font-weight: 300;
  line-height: 16px;
  padding-top: 0.5rem;
}

/* //second div  */

.green-stripe-second {
  width: 429px;
  height: 14px;
  background-color: rgba(102, 187, 106, 1);
}

.black-div-second {
  position: absolute;
  width: 429px;
  height: 499px;
  background-color: rgba(0, 1, 0, 0.8);
}

.second-name {
  font-family: "GT America";
  font-size: 32px;
  font-weight: 700;
  line-height: 28px;
  padding-left: 1rem;
  padding-top: 2rem;
  color: white;
}

.designer {
  font-family: "GT America";
  font-size: 28px;
  line-height: 24px;
  color: white;
  padding-left: 1rem;
  padding-top: 1rem;
}

.second-content {
  font-family: "GT America";
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: white;
  padding: 3rem 3rem 0 1rem;
}

.close {
  font-family: "GT America";
  font-size: 18px;
  font-weight: 300;
  line-height: 16px;
  color: white;
  padding-left: 22rem;
  padding-top: 9rem;
}
